pydantic
pydantic-core
requests
oauthlib
requests-oauthlib
urllib3
PyYAML
charset-normalizer
idna
pytz
python-dotenv
lxml
dnspython
garminconnect
withings-sync
annotated-types
certifi
typing-extensions
pymongo